
MCP_SERVER_URL=https://<your-aca-fqdn>/mcp
MCP_SERVER_LABEL="your-mcp-server-label-value"

FOUNDRY_PROJECT_ENDPOINT=https://<your-foundry-account>.services.ai.azure.com/api/projects/<your-foundry-project>
FOUNDRY_MODEL=<your-foundry-model-deploy-name>
FOUNDRY_AGENT_NAME=<your-agent-name>
